$white: #ffffff;
$macaroni-and-cheese: #e9ac38;
$purpley: #7550de;
$white-two: #fafafa;
$black: #272727;
$greyish-brown: #444444;
$greyish-brown-two: #464646;
$light-khaki: #f6ead0;
$light-tan: #fbdcd2;
$lavender: #e2d8f5;
$light-blue-grey: #c8eae8;
$black-two: #222222;
$cool-grey: #9699a6;
$slate-grey: #626263;
$buttonTxtColor: #f6f9fa;
$footerBottomBg: #151515;
