@media (min-width: 1920px){
    .footer{
        min-width: 1920px;

        &-top{
            max-width: 1298px;
        }

        .footer-list--tablet{
            display: none;
        }

        .footer-list--desktop{
            min-width: 160px;
            @include flex;
        }

        &-bottom{
            padding-left: 310px;
            padding-right: 310px;

        }

        &-bottom__txt-wrap{
            max-width: 1298px;
        }

        .footer-bottom__txt:not(:last-child){
               margin-right: 76px;
           }
    }
}