@media (min-width: 1920px){
    .section-2 {
        margin-bottom: 115px;
        padding-bottom: 112px;
        background: $white-two;

    }
    
    .title-case__bg{
        margin-right: 20px;
    }
    .section-2__titlle{
        font-size: 33px;
    }

.section-2__list{
    margin-left: 0px;
}
.section-2__text{
    width: 237px;
    font-size: 18px;
}

.section-2__bg{

    width: 95px;
  height: 95px;
  
}
}