.mainHead {
  background-image: url('../images/header-bg.jpg');
  background-position: 50% 0;
  background-size: cover;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../images/header-bg@2x.jpg');
  }
}

.header__inner {
  padding: 0 0 130px;
  z-index: -5;
}

.header__text-content {
  padding: 320px 20px 0;
  z-index: 0;
  position: relative;
}

.navigation__logo {
  z-index: 10;
}

.navigation {
  position: sticky;
  top: 0px;
  padding: 16px 19px;
  //display: none;
  //background-color: $purpley;
  background: rgba($purpley, $alpha: 0);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.navigation__item {
  text-align: center;
}

.navigation__link:hover,
.navigation__link:focus {
  border-bottom: 2px solid $macaroni-and-cheese;
}

.navigation__item-last {
  margin-top: 50px;
}

.header__headline {
  font-size: 35px;
  font-weight: 800;
  line-height: 1.69;
  letter-spacing: 0.9px;
  color: $white;
  text-align: center;
  padding-bottom: 16px;
}

.header__text {
  font-family: 'Ubuntu';
  background: rgba(22, 24, 32, 0.68);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.8px;
  text-align: center;
  color: $white;
  padding: 9px 15px;
}

.inline-orange {
  font-weight: bold;
  color: $macaroni-and-cheese;
}

.navigation__button {
  font-family: 'Ubuntu';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 42px;
  letter-spacing: 0.4px;
  color: #f6f9fa;
  width: 192px;
  height: 42px;
  box-shadow: 0px 3px 5px 0 rgba(233, 172, 56, 0.4);
  background-color: $macaroni-and-cheese;
  border: none;
  border-radius: 4.6px;
}

.navigation__link {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  line-height: 42px;
  letter-spacing: 0.6px;
  color: $white;
  transition: color 0.3s ease, border 0.3s ease;
  padding-bottom: 8px;
}

.header__scroll {
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  border-bottom: 2px solid $white;
  border-right: 2px solid $white;
  transform: rotate(45deg);
  z-index: 0;
}

.header__scroll::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -10px;
  left: 8px;
  display: inline-block;
  border-bottom: 2px solid $white;
  border-right: 2px solid $white;
  z-index: 0;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 12px;
  right: 16px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 8; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

// /*
//  * Just a quick hamburger
//  */
.line-contain__item {
  display: block;
  height: 3px;
  width: 28px;
  margin-bottom: 5px;
  position: relative;
  background-color: $white;
  border-radius: 0px;
  //z-index: 8;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
  z-index: 1;
}

.line-contain {
  display: inline-block;
}

#menuToggle .line-contain span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle .line-contain span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ .line-contain span {
  opacity: 1;
  transform: rotate(-45deg) translate(1px, 1px);
}

// /*
//  * But let's hide the middle one.
//  */
#menuToggle input:checked ~ .line-contain span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

// /*
//  * Ohyeah and the last one should go the other direction
//  */
#menuToggle input:checked ~ .line-contain span:nth-last-child(2) {
  transform: rotate(45deg) translate(-4px, -9px);
}

// /*
//  * Make this absolute positioned
//  * at the top left of the screen
//  */
#menu {
  //display: none;
  padding-top: 56px;
  display: none;
  width: 100vw;
  //   margin: -100px 0 0 -70px;
  //   padding: 50px;
  //   padding-top: 125px;
  //   list-style-type: none;
  //   -webkit-font-smoothing: antialiased;
  //   /* to stop flickering of text in safari */
  //   transform-origin: 0% 0%;
  //   transform: translate(100%, 0);
  //   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle input:checked .navigation {
  background: rgba($purpley, $alpha: 1);
}

#menuToggle input:checked ~ #menu {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba($purpley, $alpha: 1);
  width: 100vw;
  height: 100vh;
  //z-index:5;
  padding-top: 112px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ .navigation__list {
  transform: none;
}

#menuToggle input:checked ~ .navigation__logo {
  //z-index: 10;
}

.changeColor {
  background-color: $white;
  transition: background-color 0.3s;

  & .line-contain__item {
    background-color: $black;
  }
}

.changeColor input:checked ~ .line-contain .line-contain__item {
  background-color: $white;
}
