@media (min-width: 768px){
    .footer{
        min-width: 768px;

        &-top{
            max-width: 620px;
            padding: 54px 0 34px;
        }

        &__top-wrap1{
            @include flex;
        }

        &-bottom__txt-wrap{
            max-width: 620px;
            display: flex;
            
           .footer-bottom__txt:not(:last-child){
               margin-right: 38px;
           }
        }
    }
}
